<p id="notice"><%= notice %></p>

<h1>Listing Order Ids</h1>

<table>
  <thead>
    <tr>
      <th>Items</th>
      <th>Email</th>
      <th>Order</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @order_ids.each do |order_id| %>
      <tr>
        <td><%= order_id.items %></td>
        <td><%= order_id.email %></td>
        <td><%= order_id.order %></td>
        <td><%= link_to 'Show', order_id %></td>
        <td><%= link_to 'Edit', edit_order_id_path(order_id) %></td>
        <td><%= link_to 'Destroy', order_id, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Order', new_order_id_path %>
